@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* ------------------------ GLOBAL SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  /* overflow: hidden; */
  font-family: Roboto, sans-serif;
  /* border: 1px dashed #333;
  background-clip: content-box; */
}
body {
  display: flex;
  flex-direction: column;
  flex: 1;
}
ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}
a {
  text-decoration: none;
}

/* ------------------------ div-logo */
.div-logo {
  background-color: #1f2937;
  min-height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}
.div-logo .left {
  font-weight: 700;
  font-size: 24px;
  color: #f9faf8;
}
.div-logo .right a {
  font-size: 18px;
  color: #e5e7eb;
}

/* ------------------------ div-header */
.div-header {
  background-color: #1f2937;
  min-height: 20vh;
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 20px 60px;
  gap: 20px;
}
.container {
  width: 50vw;
}
.container p {
  margin-top: 10px;
  font-size: 18px;
  color: #e5e7eb;
}
.div-header img {
  height: 150px;
  width: 350px;
  border-radius: 15px;
}
button {
  background-color: #3882f6;
  padding: 8px 30px;
  border: 0;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 18px;
}

/* ------------------------ div-info */
.div-info {
  background-color: #fff;
  min-height: 30vh;
}
.div-info p {
  font-size: 36px;
  color: #1f2937;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
}
.info-container {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 10px 80px;
}
.info {
  height: 160px;
  width: 190px;
}
.info img {
  height: 110px;
  width: 100%;
  border-radius: 15px;
}
.info p {
  font-size: 18px;
  font-weight: 100;
}

/* ------------------------ div-quote */
.div-quote {
  background-color: #e5e7eb;
  min-height: 25vh;
}
.div-sign {
  background-color: #fff;
  min-height: 20vh;
}
.div-footer {
  background-color: #1f2937;
  min-height: 5vh;
}
