* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dashed #333;
  background-clip: content-box; */
}
.div-logo {
  background-color: #1f2937;
  min-height: 5vh;
}
.div-header {
  background-color: #1f2937;
  min-height: 20vh;
}
.div-info {
  background-color: #fff;
  min-height: 25vh;
}
.div-quote {
  background-color: #e5e7eb;
  min-height: 25vh;
}
.div-sign {
  background-color: #fff;
  min-height: 20vh;
}
.div-footer {
  background-color: #1f2937;
  min-height: 5vh;
}
