@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* border: 1px dashed #333;
  background-clip: content-box; */
}
body {
  display: flex;
  flex-direction: column;
}
.div-logo {
  background-color: #1f2937;
  min-height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}
.div-logo .left {
  font-weight: 700;
  font-size: 24px;
  color: #f9faf8;
}
.div-logo .right a {
  font-size: 18px;
  color: #e5e7eb;
}
ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}
a {
  text-decoration: none;
}

.div-header {
  background-color: #1f2937;
  min-height: 20vh;
}
.div-info {
  background-color: #fff;
  min-height: 25vh;
}
.div-quote {
  background-color: #e5e7eb;
  min-height: 25vh;
}
.div-sign {
  background-color: #fff;
  min-height: 20vh;
}
.div-footer {
  background-color: #1f2937;
  min-height: 5vh;
}
